.backg1{
    background-image:linear-gradient(rgba(255, 255, 255,0.5),rgba(0, 0, 255,0.9)), url(./bgTime.jfif);
    /* box-sizing: border-box; */
    background-size: 100px;
    width: 100vw;
    height: 100vh;

}
.backg2{
    background-image:linear-gradient(rgba(255, 255, 255,0.5),rgba(255, 255, 0,0.9)), url(./bgTime.jfif);
}
span{
    padding: 10px;
    font-size: 72px;
    font-weight: 900;
    text-shadow: 5px 45px 5px yellowgreen,
                5px 45px 5px yellowgreen;
    
}